extends layout

block content
  form(method='POST')
    legend Resend Confirmation Email
    .form-group
      label(for='email') Email
      input.form-control(type='text', name='email',value='#{user.email}' ,readonly, autofocus)
    button.btn.btn-primary(type='submit') Resend Email